<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="de.wwu.md2dot0.design.Activator"
               id="de.wwu.md2dot0.design"
	       name="md2dot0">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.diagram.ui.styleConfigurationProvider">
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
     <editpartProvider
           class="de.wwu.md2dot0.diagram.ProcessElementEditPartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpartProvider>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
     <editpolicyProvider
           class="de.wwu.md2dot0.diagram.ProcessElementEditPartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpolicyProvider>
  </extension>
</plugin>
