<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="de.wwu.maml.editor.Activator"
               id="de.wwu.maml.editor"
	       name="maml">
    </component>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
     <editpartProvider
           class="de.wwu.maml.editor.diagram.InteractionProcessElementEditPartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpartProvider>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
     <editpolicyProvider
           class="de.wwu.maml.editor.diagram.InteractionProcessElementEditPartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpolicyProvider>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
     <editpartProvider
           class="de.wwu.maml.editor.diagram.AutomatedProcessElementEditPartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpartProvider>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="de.wwu.maml.editor.diagram.ModelInferenceAction"
           id="de.wwu.maml.editor.diagram.ModelInferenceAction">
     </javaActions>
  </extension>
</plugin>
